# docker-compose.yml
version: "2.0"

services:
  metadata:
    build: ./
    env_file:
     - ./.env.dev
    environment:
      RABBITMQ_URL: amqp://rabbitmq.host
      SERVER_PORT: 8080
      SENTRY_URL: 
    restart: always
    links:
      - rabbitmq:rabbitmq.host
    depends_on:
      - rabbitmq
    volumes:
      - ./:/home/node/server
    ports:
      - 8080:8080
    command: [
      wait-for-it.sh, "rabbitmq.host:5672", -t, "120", -sa, "10", -s, --
      node, ./node_modules/.bin/nodemon, run.js, migrate, server
    ]

  rabbitmq:
    image: rabbitmq:3.6-management
    ports:
      - 3001:15672
      - 5672:5672
    volumes:
      - ./data/rabbitmq:/var/lib/rabbitmq